
#footerPic {
  height: 366px;
  width: 100%;
  background: linear-gradient(rgba(42, 202, 248, 0.7),rgba(42, 202, 248, 0.7)), url("/images/plantFooter.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: center;
  margin-top: 100px;
}

.footer:after {
  background: #2acaf8;
}

#footerTxt1{
  color: white;
  margin-top: 50px;
  text-align: center;
  font-size: 3em;
  font-family: 'Actor', Sans-serif, serif;
}

#footerTxt2{
  color: white;
  text-align: center;
  font-family: 'Actor', Sans-serif, serif;
}
/************
Footer End
 ***********/

.browse-opp-container-background {
  background-image: url("https://react.semantic-ui.com/images/avatar/large/daniel.jpg");
}

.filter-tab-position {
  padding-right: 5px;
}


/*::-webkit-scrollbar {*/
/*  background: #dc3545;*/
/*}*/
/*::-webkit-scrollbar-thumb {*/
/*  background-image: linear-gradient(red, yellow);*/
/*  border-radius: 25px;*/
/*}*/
/*::-webkit-scrollbar-thumb:hover {*/
/*  background-image: linear-gradient(#ee0970, #ff6a00 );*/
/*}*/
