/* Styling for Opportunity Component. */
.browse-opp-container-background {
  background-image: url("https://react.semantic-ui.com/images/avatar/large/daniel.jpg");
}

/* Styling for NavbarV Component. */
.large-font {
  font-size: 20px;
}

.navbar-menu-orrientation {
  padding-top: 30px;
  padding-bottom: 30px;
}

.user-font-diff {
  font-size: 15px;
}

.input-search-bar {
  border-color: whitesmoke;
  border-style: solid;
}

.middle-menu-padding {
  margin-left: 12em;
}


/* Styling for Google Map Component. */
.google-map-border {
  height: 85vh;
  width: 100%;
}

/* Styling for Filter Opportunities Page. */
.make-scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;
}

/* Styling for Opportunity Component. */
.card-content-spacing {
  margin-bottom: 30px;
}
